* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    width: 100%;
}

header {
    text-align: center;
    padding: 32px;
}

.row {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Crie quatro colunas iguais que fiquem próximas uma das outras */

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Parte responsiva */
@media (max-width: 800) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}